@import "../theme.scss";

.heading {
    display: flex;
    gap: 3vw;

    h1 {
        font-size: $heading1;
        font-weight: 500;
        font-family: 'Visby Bold';
        color: $primary;
        margin: 0;
        min-width: max-content;
    }

    hr {
        width: 100%;
        height: 0.1vw;
        background-color: rgba(0, 0, 0, 0.400);
        border: none;
        align-self: flex-end;
    }
}

@media screen and (max-width: $mobile) {
    .heading {
        gap: 6vw;

        h1 {
            font-size: $mobile_heading1;
        }

        hr {
            width: 100%;
            height: 0.2vw;
        }
    }
}