@import "../theme.scss";

.videolistcontainer {
    display: flex;                    
    align-items: center;
    //background-color:green;
    justify-content:center;

    .gallerycontainer {
        display: flex;
        align-items: center;
        width:100%;
        height: max-content;

        //Left
        .videoplayer {           
            width: 85% !important;

            iframe {
                width: 100%;
                height: 30vw;
              }                            
          }

          //Right
          .videolist {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 15%;

            .thumbnailcontainer {
                display: flex;
                flex-direction: column;
                align-items: center; /* Align to the left */
                overflow-y: auto;  
                height:auto;  
                
                .videoitem {
                    margin-top: 20px;
                    cursor: pointer;
                    height: max-content;
                    width: 8.85vw;
                    //background-color: #000000;
                  }
              }

              .scrollbutton {
                padding: 5px;
                cursor: pointer;
                background-color: #87BE42;
                color: #fff;
                border: none;
                border-radius: 50%;
                transition: background-color 0.3s ease;
                margin: 0 auto; /* Center the button */
                //margin-left: 50px;
              }
      
              .scrollbutton:hover {
                background-color: #87BE42;
              }                    
          }
      }      

}

.videoinfo {
  margin-top: 10px;
 
  h3 {
    font-family: 'Visby Bold';
    font-size: 4vw;
    margin-bottom: 0.5rem;
    color: black;
  }
    p {
      font-size: 1.58vw;
      font-family: "Visby Regular";
      font-weight: 300;
      line-height: 2.24vw;
      text-align: justify;
    }
  
}

// .mobilevideolist {
//     display: none;
//   }

  @media screen and (max-width: $mobile) {
    // .videolist {
    //     display: none;
    //   }
    .videolistcontainer {
      display: flex;                    
      align-items: center;
      justify-content:center;
  
      .gallerycontainer {
          display: flex;
          align-items: center;
          width:100%;
          height: max-content;
  
          //Left
          .videoplayer {           
              width: 100% !important;
  
              iframe {
                  width: 100%;
                  height: 30vw;
                }    
            }                        
        }
    }

    .mobilevideolist {
      display: flex;
      flex-direction: row;
      align-items: center;      

      .thumbnailcontainer {
        display: flex;
        overflow-x: auto;
        margin: 10px 0;  
        margin-left: 5vw; 
        align-items: center;
        width: 100%;
        
        iframe {
          width: 100%;
          height: 20vw;
        }  
      }

      .scrollbutton {
        padding: 5px;
        cursor: pointer;
        background-color: #87BE42;
        color: #fff;
        border: none;
        border-radius: 50%;
        transition: background-color 0.3s ease;
        margin: 0 auto; /* Center the button */
        margin-left: 50px;
      }

      .scrollbutton:hover {
        background-color: #87BE42;
      }

      .scroll-button {
        display: block;
      }
  }

    .videoinfo {
      margin-top: 10px;
     
      h3 {
        font-family: 'Visby Bold';
        font-size: 4vw;
        margin-bottom: 0.5rem;
        color: black;
      }
        p {
          font-size: 3vw;
          font-family: "Visby Regular";
          font-weight: 300;
          line-height: 3vw;
          text-align: justify;
        }
      
    }
}
