@import '../theme.scss';

.contacts {
    width: 85vw;
    margin-left: 15vw;
    padding: 1vw 5vw 5vw 5vw;

    h2 {
        font-family: "Visby Bold";
        font-size: 2.5vw;
        color: $primary;
        margin: 0;
    }
}