@import '../theme.scss';

.ourWorks {
    width: 85vw;
    margin-left: 15vw;
    padding: 1vw 5vw 5vw 5vw;
    h2 {
        font-family: "Visby Bold";
        font-size: 2.5vw;
        color: $primary;
        margin: 0;
    }

    .all_works {
        margin-top: 2vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(23vw, 1fr));
        grid-row-gap: 5vw;

     
    }
}