@import "./theme.scss";
@import "./utils.scss";
@import "../asset/visby-cufonfonts-webfont/style.css";

.mobile_particles {
  display: none;
}

.lap_particles {
  display: block;
}

.tablet_particles {
  display: none;
}

.about {
  @include pagePadding();
  margin-top: 10vw;

  h4 {
    font-size: 1.5vw;
    color: $secondary;
    font-family: "Visby Regular";
    letter-spacing: 0.1vw;
  }

  h1 {
    font-size: 3vw;
    color: $primary;
    font-family: "Visby Bold";

    span {
      color: $dark;
      position: relative;

      .background {
        position: absolute;
        height: 1.5vw;
        width: 100%;
        background-color: $primary;
        bottom: 0;
        z-index: -1;
      }
    }
  }
  h2 {
    font-size: 3vw;
    color: $primary;
    font-family: "Visby Bold";

    span {
      color: $dark;
      position: relative;

      .background {
        position: absolute;
        height: 1.5vw;
        width: 100%;
        background-color: $primary;
        bottom: 0;
        z-index: -1;
      }
    }
  }
  p {
    font-size: 2vw;
    color: $dark;
    margin-top: 1vw;
    font-family: "Visby Regular";
    letter-spacing: 0.1vw;
    line-height: 2.2vw;
  }

  .section1 {
    display: flex;
    gap: 5vw;

    button {
      background-color: $dark;
      color: $light;
      padding: 1vw;
      border-radius: 10vw;
      font-size: 1.5vw;
      font-family: "Visby SemiBold";
      letter-spacing: 0.1vw;
    }

    img {
      width: max-content;
      height: 30vw;
    }
  }

  .section2 {
    margin-top: 10vw;
    display: flex;
    gap: 20vw;

    .img_holder {
      position: relative;
      width: 100vw;

      img {
        position: absolute;
        width: max-content;
        height: 25vw;

        &:nth-child(2) {
          height: 30vw;
          width: max-content;
          top: 9.5vw;
          left: 8vw;
        }
      }
    }
  }

  .section3 {
    margin-top: 15vw;

    h4 {
      margin: 0;
      margin-bottom: 1vw;
    }

    h1 {
      margin: 0;
      margin-bottom: 5vw;
      width: 50vw;
    }

    .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5vw;

      .LinkedinImage {
        position: relative;
        width: 35vw;
        border-radius: 2vw;
        height: max-content;
        box-shadow: 0 1vw 1vw 0 rgba(0, 0, 0, 0.2);

        img {
          width: 100%;
          height: 100%;
          border-radius: 2vw;
        }

        // even childern
        &:nth-child(even) {
          margin-top: 10vw;
          border-radius: 2vw;
        }

        .NameLink {
          position: absolute;
          border-radius: 2vw;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: end;
          align-items: center;
          font-size: 1.5vw;
          // gradient background
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0,
            rgba(0, 0, 0, 0) 60%,
            rgba(255, 255, 255, 0.4) 75%,
            rgba(129, 129, 129, 0.5) 85%,
            rgb(0, 0, 0) 100%
          );

          h3 {
            font-size: 2.5vw;
            margin: 0;
            color: $light;
            font-family: "Visby SemiBold";
            position: absolute;
            bottom: 5vw;
          }

          a {
            display: flex;
            font-size: 2vw;
            margin: 0;
            color: rgb(24, 119, 242);
            text-decoration: underline;
            position: absolute;
            bottom: 2vw;
            font-family: "Visby Medium Italic";

            span {
              width: 1.5vw;
              height: max-content;
              margin-left: 1vw;

              img {
                border-radius: 0;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $mobile) and (max-width: $tablet) {
  .lap_particles {
    display: none;
  }

  .mobile_particles {
    display: none;
  }

  .tablet_particles {
    display: block;
  }
}

@media screen and (max-width: $mobile) {
  .lap_particles {
    display: none;
  }

  .mobile_particles {
    display: block;
  }

  .tablet_particles {
    display: none;
  }
}
