// COLORS
$dark: #000000;
$light: #ffffff;
$primary: #C2D950;
$secondary: #A0A0A0;

// FONTS
$fontFamily: 'Roboto', sans-serif;

// FONT SIZES
$heading1: 3vw;
$text: 1.5vw;
$button: 2vw;

$mobile_heading1: 4.5vw;
$mobile_text: 2vw;
$mobile_button: 3vw;
// DEVICE SIZES
$mobile: 600px;
$tablet: 900px;
$desktop: 1024px;